@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-weight: 500;
}

button, input {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.btn-basic {
    color: #FFFFFF;
    background-color: #D94540;
    padding: 13.5px 20px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
}

.review {
        box-sizing: border-box; 
        padding: 30px;
        border: 1px solid #C6C6C6;
        border-radius: 20px;

        .img-review {
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
        }
        h3 {
            margin: 0;
            padding: 15px 0 10px;
            font-size: 20px;
            font-weight: 700;
            color: #D94540;
        }
        p {
            margin: 0;
            padding-bottom: 36px;
            font-size: 16px;
            font-weight: 600;
        }
        .text-btn {
            border: none;
            background: none;
            color: #D94540;
            font-size: 16px;
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
        }
    }


.group-products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            
            .products {
                padding: 20px;
                background-color: white;
                border-radius: 10px;
                position: relative;
                z-index: 1;
                transition: box-shadow 0.3s ease, z-index 0.3s ease;
                overflow: visible;

                img {
                    display: block; 
                    width: 100%;
                    height: 250px; 
                    object-fit: cover;
                    border-radius: 5px;
                }

                .discount {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    top: 220px;
                    left: 30px;
                    z-index: 15;
                    .discount-text {
                        padding: 8px 10px;
                        background-color: #D94540;
                        border-radius: 20px;
                        color: white;
                        font-size: 14px;
                        font-weight: 800;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .discount-number {
                        padding: 5px 5px 5px 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;
                        background-color: #D94540;
                        border-radius: 20px;
                        color: white;
                        margin: 0;
                        height: 30px;
                        font-weight: 800;
                        .percent {
                            padding: 2px 5px;
                            border-radius: 20px;
                            background-color: white;
                            color: #D94540;
                            margin: 0;
                            font-weight: 800;
                        }
                    }
                }
                .product-heading {
                    margin: 0;
                    padding: 15px 0;
                    font-size: 18px;
                    font-weight: 600;
                }

                .price-block {
        display: flex; 
        flex-direction: row; 
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
        .price-new {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }
        .old-price {
            font-size: 16px;
            font-weight: 600;
            opacity: 30%;
            margin: 0;
            text-decoration: line-through;
        }
    }
                .btn {
                    margin-bottom: 15px; 
                    .product-main {
                        width: 100%;
                        padding: 15px;
                        
                    }
                }


                .expandable-content {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 310px;
                    background-color: white;
                    padding: 0 20px 20px;
                    border-radius: 0 0 10px 10px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-10px);
                    transition: all 0.3s ease;
                    z-index: 5;
                    
                    .sizes {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-bottom: 15px;
                        
                        .block-products-inf {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            label {
                                font-size: 14px;
                                font-weight: 600;
                            }
                            select {
                                padding: 13px 15px;
                                border: 1px solid #3433331A;
                                border-radius: 5px;
                                font-size: 14px;
                                font-weight: 600;
                                width: 100%;
                                cursor: pointer;
                                background-image: url("/assets/img/Vector 3.svg");
                                background-repeat: no-repeat;
                                background-position: right 12px center;
                                background-size: 12px;
                                appearance: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                            }
                        }
                    }

                }

                &:hover {
                    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
                    z-index: 10;
                    > .price-block,
                    > .btn {
                    display: none;
                     }

                    .expandable-content {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }