.main-12 {
    padding: 100px 40px 0;
    .main-12-heading {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 40px;
    }
    iframe {
        width: 100%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 600px) {
    .main-12 {
        padding: 60px 10px 0;
        .main-12-heading {
            font-size: 16px;
            padding-bottom: 20px;
        }
        iframe {
            height: 170px;
        }
    }
}